@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar__shadow {
  -webkit-box-shadow: 0px -9px 23px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -9px 23px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -9px 23px 1px rgba(0, 0, 0, 0.24);
}

.slide-from-right {
  animation: slide-right 0.5s ease-in-out;
}
@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
